#!/bin/bash
# Run from repository root
PROJECT="src/BrandsAdvisory/BrandsAdvisory.csproj"

dotnet user-secrets set "AzureAd:TenantId" "__TENANT_ID__" -p $PROJECT
dotnet user-secrets set "AzureAd:ClientId" "__CLIENT_ID__" -p $PROJECT
dotnet user-secrets set "AzureAd:ClientCertificates:0:SourceType" "StoreWithThumbprint" -p $PROJECT
dotnet user-secrets set "AzureAd:ClientCertificates:0:CertificateThumbprint" "__CERT_THUMBPRINT__" -p $PROJECT
dotnet user-secrets set "CosmosDb:EndpointUri" "__COSMOS_ENDPOINT__" -p $PROJECT
dotnet user-secrets set "CosmosDb:PrimaryKey" "__COSMOS_KEY__" -p $PROJECT
dotnet user-secrets set "Owner:Oid" "__OWNER_OID__" -p $PROJECT
